.DS_Store
build/
trash/
*.userdb/
installation.yaml
user.yaml
input.txt
output.txt
moran_fixed.txt
moran_fixed_aabc.txt
moran_fixed_simp.txt
njerchet.*
zrm6.*
make_dist.sh
dist/
default.custom.yaml
*.custom.*
pinyin_simp*
.venv/
sync/
.env
.pdm-python
key_bindings.yaml.bak
default.yaml.bak
moran.userdb.old/001528.ldb
moran.userdb.old/CURRENT
moran.userdb.old/LOCK
moran.userdb.old/LOG
moran.userdb.old/LOG.old
moran.userdb.old/MANIFEST-000001
moran.userdb.old/lost/MANIFEST-000001
moran.userdb.old/*

**/*.txt
convert_uppercase.py
